@using Microsoft.AspNetCore.Http.Extensions
@using MJ_CAIS.Common
@using MJ_CAIS.WebPortal.Public

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @CommonResources.titleMjCais </title>

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jqueryui/jquery-ui.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MJ_CAIS.WebPortal.Public.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" asp-append-version="true" />

    <script src="~/lib/modernizr/modernizr.min.js" asp-append-version="true"></script>
    <script src="~/js/infragistics.loader.js" asp-append-version="true"></script>

    <partial name="_InfragisticsLoader" />
</head>
<body class="d-flex flex-column h-100 bg-light">

    <main class="flex-shrink-0">

        <header class="py-2 bg-white">
            <div class="d-flex justify-content-between container">
                <div class="d-flex gap-2 align-items-center">
                    <div>
                        <img class="img-fluid" style="height: 73px" src="@Url.Content("~/images/logo.svg")" />
                    </div>
                    <div class="d-flex flex-column pl-2">
                        <div class="h3">
                            @CommonResources.titleRepublicOfBulgaria
                        </div>
                        <div class="h5">
                            @CommonResources.titleMinistryOfJustice
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-center">
                    <partial name="_ContextualMenu" />
                </div>
            </div>
        </header>
        <div class="bg-primary shadow">
            <div class="container">
                <nav class="navbar navbar-expand-md navbar-dark bg-rimary" aria-label="Fourth navbar example">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="/">@CommonResources.titlePublicPortal</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample04">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link @Html.IsSelected("Index", "Application")" href="@Url.Action("Index", "Application")">Заявления</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link @Html.IsSelected("Index", "Certificates")" href="@Url.Action("Index", "Certificates")">Свидетелства</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link @Html.IsSelected("GeneralTerms", "Home")" href="@Url.Action("GeneralTerms", "Home")">Общи условия</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link @Html.IsSelected("Info", "Home")" href="@Url.Action("Info", "Home")">Информация</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link @Html.IsSelected("Index", "Feedback")" href="@Url.Action("Index", "Feedback")">Обратна връзка</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>

        <div class="content container-fluid">
            <div class="container py-4">
                <main role="main">
                    @RenderBody()
                </main>
            </div>
        </div>
    </main>

    <footer class="footer mt-auto py-2 bg-white shadow">
        <div class="d-flex flex-md-row flex-column justify-content-evenly container gap-3 align-items-center">
            <p class="text-center">
                @CommonResources.titleContractInfoExt
            </p>
            <div>
                <img style="height: 73px; width: 177px" src="@Url.Content("~/images/eu.png")" />
            </div>
        </div>
    </footer>


    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/js/custom/commonUtils.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>