@using MJ_CAIS.Common

<form asp-controller="Account" asp-action="Logoff" method="post" autocomplete="off" id="logoutForm" class="navbar-right">
    @*<a href="#" class="nav-link dropdown-toggle esti-nav-greeting" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
        @CommonResources.lblGreetingUser @User.Identity.Name <b class="caret"></b>
    </a>*@
    <a class="btn-logout dropdown-item" href="javascript:document.getElementById('logoutForm').submit()" title="@CommonResources.lblLogout" class="ml-3">
            <i class="fa fa-sign-out" aria-hidden="true"></i>@CommonResources.lblLogout
    </a>
    @*<div class="dropdown-menu  dropdown-menu-right esti-user-menu" aria-labelledby="navbarDropdown">
        <a class="btn-logout dropdown-item" href="javascript:document.getElementById('logoutForm').submit()" title="@CommonResources.lblLogout">
            <i class="fa fa-sign-out" aria-hidden="true"></i>@CommonResources.lblLogout
        </a>
    </div>*@
</form>
