@using Infragistics.Web.Mvc
@using MJ_CAIS.DTO.Certificate
@using MJ_CAIS.WebPortal.Public.Controllers
@using MJ_CAIS.WebPortal.Public.Models.Certificates
@using MJ_CAIS.WebPortal.Public.Models.Feedback
@using MJ_CAIS.WebSetup.Utils.CustomHtmlHelpers
@using MJ_CAIS.Common.Resources
@using MJ_CAIS.Common
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@model X.PagedList.IPagedList<CertificatePublicDTO>

@{
    var title = CertificateResources.titleCertificates;
    ViewData["Title"] = title;
}

<div class="card">
    <h5 class="card-header bg-primary text-white">@CertificateResources.titleCertificates</h5>
    <div class="card-body">
        @if (Model.TotalItemCount != 0)
        {
            <div class="table-responsive">
                <table class="table table-striped table-hover table-bordered">
                    <tr>
                        <th>
                            Валидно от
                        </th>
                        <th>
                            Цел
                        </th>
                        <th class="col-md-4">
                            Действия
                        </th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ValidFrom)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Purpose)
                            </td>
                            <td>
                                <div class="d-flex justify-content-end gap-2">
                                    <a asp-action="Preview" asp-controller="Application" asp-route-id="@item.WAppId" class="btn btn-primary">Заявление</a>
                                    <a asp-action="ViewByCode" asp-controller="Conviction" asp-route-id="@item.AccessCode1" class="btn btn-primary" target="_blank"><i class="fa fa-download me-2"></i>@ApplicationResources.titleDownloadCertificate</a>
                                </div>
                            </td>
                        </tr>
                    }
                </table>
            </div>
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }),
        new PagedListRenderOptions()
        {
        LiElementClasses = new string[] { "page-item" },
        PageClasses = new string[] { "page-link" }
        })
        }
        else
        {
            <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
                </symbol>
            </svg>
            <div class="alert alert-primary d-flex align-items-center mb-0" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill" /></svg>
                <div>
                    Не са намерени свидетелства
                </div>
            </div>
        }
    </div>
</div>