@using Infragistics.Web.Mvc
@using MJ_CAIS.WebPortal.Public.Controllers
@using MJ_CAIS.WebPortal.Public.Models.Application
@using MJ_CAIS.WebSetup.Utils.CustomHtmlHelpers
@using MJ_CAIS.Common.Resources
@using MJ_CAIS.Common
@model ApplicationEditModel

@{
    var title = ApplicationResources.titleAppPreview;
    ViewData["Title"] = title;
}
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
    </symbol>
    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
    </symbol>
    <symbol id="easy-pay" viewBox="0 0 59.637 59.902">
        <path d="M22.727 21.352v.185c0 .609.476 1.058 1.111 1.058 1.376 0 2.593-1.085 2.593-2.593v-.079l-1.905.132c-1.032.106-1.799.503-1.799 1.296M47.704 0H11.932C5.371 0 0 5.371 0 11.933v16.854h59.637V11.933C59.637 5.371 54.266 0 47.704 0M18.388 10.795h-7.303v4.101h6.271v2.461h-6.271v4.789h7.303v2.461H8.255V8.335h10.134zm10.557 13.917c-1.244 0-1.879-.794-1.879-1.931h-.159c-.635 1.27-1.984 1.931-3.545 1.931-2.275 0-3.519-1.561-3.519-3.149 0-2.196 1.799-3.043 4.524-3.281l2.064-.159v-.873c0-1.27-.873-1.773-1.773-1.773-1.217 0-2.646.37-3.678 1.217l-1.217-2.064c1.296-.926 2.699-1.561 4.948-1.561 2.461 0 4.471 1.482 4.471 4.657v4.154c0 .344.291.582.609.582.212 0 .476-.106.476-.106l.476 1.905c-.026-.026-.556.45-1.799.45m7.355 0c-2.222 0-3.625-.609-4.921-1.535l1.217-2.064c1.005.847 2.434 1.349 3.625 1.349 1.244 0 2.143-.503 2.143-1.164 0-.741-.582-1.138-2.328-1.349-2.937-.344-3.969-1.587-3.969-3.307 0-2.223 1.905-3.492 4.392-3.492 1.905 0 2.91.37 4.075 1.058l-1.138 1.958c-.873-.556-1.667-.794-2.805-.794-.926 0-1.826.37-1.826 1.111 0 .794.556 1.032 2.434 1.244 2.937.37 3.995 1.667 3.995 3.545 0 1.958-1.799 3.44-4.895 3.44m12.012.688c-.794 1.879-2.196 2.54-3.44 2.54s-1.879-.476-1.879-.476l.714-2.117s.423.265.926.265c.556 0 1.005-.238 1.244-.767.132-.265.132-.37.132-.37l-4.419-11.218h3.175l1.508 4.604 1.005 3.069h0l.079-.026.979-3.043 1.508-4.604h0 3.069zM23.574 48.313v.159c0 .609.476 1.058 1.111 1.058 1.376 0 2.593-1.085 2.593-2.593v-.079l-1.905.159c-1.005.106-1.799.503-1.799 1.296m-9.525-10.557h-2.963v5.239h2.963c1.429 0 2.514-.873 2.514-2.143V39.9c-.026-1.402-1.085-2.143-2.514-2.143" /><path d="M0 31.115v16.854c0 6.562 5.371 11.933 11.933 11.933h35.772c6.562 0 11.933-5.371 11.933-11.933V31.115zm14.208 14.34h-3.122v6.112H8.255V35.296h5.953c3.466 0 5.159 2.117 5.159 5.106s-2.222 5.054-5.159 5.054m15.61 6.218c-1.244 0-1.879-.794-1.879-1.931h-.159c-.635 1.27-1.984 1.931-3.545 1.931-2.275 0-3.519-1.561-3.519-3.149 0-2.196 1.799-3.043 4.524-3.281l2.064-.159v-.847c0-1.27-.873-1.773-1.773-1.773-1.217 0-2.646.37-3.678 1.217l-1.217-2.064c1.296-.926 2.699-1.561 4.948-1.561 2.461 0 4.471 1.482 4.471 4.657v4.154c0 .344.291.582.609.582.212 0 .476-.106.476-.106l.476 1.905c-.026-.053-.556.423-1.799.423m7.885 1.323c-.794 1.879-2.222 2.54-3.466 2.54s-1.879-.476-1.879-.476l.847-2.434s.423.265.926.265c.556 0 1.032-.265 1.27-.767.132-.291.265-.714.265-.714L31.22 40.111h3.201l1.508 4.63 1.032 3.069h0l.079-.026.979-3.069 1.508-4.63h0 3.069z" />
    </symbol>
    <symbol id="ep" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1839 1435"><path d="M920.349 131.765v1253h293v-367-92c0-6.749-3.34-26.458 1.6-31.397 2.59-2.584 8.09-1.603 11.4-1.603 104.364-3.035 210.926 6.279 305-23.598 65.586-31.059 130.494-76.364 166.22-134.402 23.755-52.69 37.852-118.149 42.95-169 3.72-38.468 8.8-79.302 4.66-118-10.474-59.119-29.021-123.514-58.12-164-12.24-17.18-25.73-32.981-39.44-49-6.83-7.979-13.33-17.69-21.44-24.391-57.875-44.993-116.88-70.487-187.83-78.438-44.71-4.47-92.05-.171-137-.171h-381m293 547v-325h95c62.728-3.799 105.997 43.976 127.16 95 4.56 11.888 3.65 28.361 5.01 41 2.43 22.695 1.7 42.356-1.01 65-1.09 9.045-.73 20.481-4 29-12.461 37.921-39.649 66.515-70.16 86.146-15.15 9.201-37.99 8.854-55 8.854h-97m-428 381h-270c-.737 35.73-6.15 72.74-15.86 107-3.955 13.95-6.859 30.11-15.777 41.96-17.501 23.25-52.241 26.04-78.363 26.04-55.926 1.405-72.52-48.507-82.424-95-6.222-28.17-5.576-55.22-5.576-84v-99H785.7c-.303-36.66 1.292-73.375-.312-110-1.652-37.741 3.429-76.409-.209-114-1.712-17.699-5.844-35.456-8.75-53-20.182-127.725-109.495-231.558-236.08-253.414-19.061-3.196-38.722-8.169-58-9.497-84.449 1.454-181.543-2.413-251 30.652C125.442 485.973 66.192 584.982 39.877 693.765c-2.821 12.223-2.492 25.545-3.698 38-1.664 17.194-4.392 34.732-4.815 52-1.321 53.927-.015 108.054-.015 162 0 42.558-4.357 87.708.174 130 1.709 15.95 7.24 32.38 10.942 48 7.099 29.96 13.825 58.35 25.284 87 35.386 109.851 117.911 165.936 226.6 190.33 31.02 6.73 62.441 7.67 94 7.67 148.205 5.894 268.175-24.652 349.05-151 7.792-12.42 18.482-25.4 23.97-39 5.067-12.56 6.485-27.78 9.404-41 8.431-38.17 13.768-78.85 14.576-118m-270-270h-198c7.534-66.804-12.935-152.69 48-189.914 12.484-7.25 27.051-8.086 41-8.086 26.388 0 49.145-.568 72 14.667 25.909 23.333 33.099 64.427 36.826 96.333 3.035 28.325.174 58.5.174 87z" /></symbol>
</svg>
<div class="card">
    <h5 class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
        @title
        <a class="btn btn-sm btn-light" asp-controller="Application" asp-action="Index">
            Заявления
        </a>
    </h5>
    <div class="card-body">
        <form asp-action="New" method="post" autocomplete="off">
            <div class="row g-3">
                <div class="col-md-6">
                    <label asp-for="Egn" class="form-label fw-bold required"></label>
                    <input asp-for="Egn" class="form-control" disabled="disabled" required />
                    <span asp-validation-for="Egn" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="Email" class="form-label fw-bold required"></label>
                    <input asp-for="Email" class="form-control" required />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="col-12">
                    <input asp-for="RequiredPurposes" class="form-control" hidden />
                    <label asp-for="PurposeId" class="form-label fw-bold required"></label>
                    @Html.DropDownListFor(model => model.PurposeId, Model.PurposeTypes,  new { @class = "form-select", @required=""})
                    <span asp-validation-for="PurposeId" class="text-danger"></span>
                </div>
                <div class="col-12" id="purposeDiv">
                    <div class="alert alert-primary d-flex align-items-center" role="alert">
                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill" /></svg>
                        <div id="purposeInfo">
                        </div>
                    </div>
                    <label asp-for="Purpose" class="form-label fw-bold required"></label>
                    <textarea asp-for="Purpose" type="text" class="form-control" rows="3"></textarea>
                    <span asp-validation-for="Purpose" class="text-danger"></span>
                </div>
                <div class="col-12">
                    <label asp-for="PaymentMethodId" class="form-label fw-bold required"></label>
                    <div class="row gy-2 gx-2">
                        @foreach (var payment in Model.PaymentMethodTypes)
                        {
                            <div class="col-md-3">
                                <label>
                                    <input type="radio" class="card-input-element"
                                       asp-for="PaymentMethodId" value="@payment.Id" hidden />
                                    <div class="card card-input h-100 v-100">
                                        <div class="card-body">
                                            <h5 class="card-title fw-bold">@payment.Name</h5>
                                            @Html.Raw(payment.Description)
                                        </div>
                                    </div>
                                </label>
                            </div>
                        }
                        <span asp-validation-for="PaymentMethodId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-12" id="paymentInfo">
                    <div class="alert alert-primary d-flex align-items-center" role="alert">
                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill" /></svg>
                        <div>
                            @string.Format(ApplicationResources.msgPaymentInfo, Model.Price)
                        </div>
                    </div>
                    <div class="alert alert-primary d-flex align-items-center" role="alert">
                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill" /></svg>
                        <div>
                            @ApplicationResources.msgPaymentInfoCard
                        </div>
                    </div>
                </div>
                <div class="col-12" id="paymentInfoEPayEasyPay">
                    <div class="alert alert-primary d-flex align-items-center" role="alert">
                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill" /></svg>
                        <div>
                            @string.Format(ApplicationResources.msgPaymentInfo, Model.Price)
                        </div>
                    </div>
                    <div class="alert alert-primary d-flex align-items-center" role="alert">
                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill" /></svg>
                        <div>
                            @string.Format(ApplicationResources.msgPaymentInfoEPayEasyPay, Model.Price)
                        </div>
                    </div>
                </div>
                <div class="col-12" id="bankPaymentInfo">
                    <div class="alert alert-primary d-flex align-items-center" role="alert">
                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill" /></svg>
                        <div>
                            @string.Format(ApplicationResources.msgPaymentInfo, Model.Price)
                        </div>
                    </div>
                    <div class="alert alert-primary d-flex align-items-center" role="alert">
                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill" /></svg>
                        <div>
                            @ApplicationResources.msgBankPaymentInfo
                        </div>
                    </div>
                </div>
                <div class="col-12" id="paymentFreeInfo">
                    <div class="alert alert-warning d-flex align-items-center" role="alert">
                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill" /></svg>
                        <div>
                            @ApplicationResources.msgPaymentFreeInfo
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="formFileMultiple" class="form-label fw-bold">Прикачени документи</label>
                        <input class="form-control" type="file" id="formFileMultiple" multiple>
                    </div>
                </div>
                <div>
                </div>
                <div class="col-12 d-flex justify-content-end gap-2">
                    <a class="btn btn-light btn-lg" asp-controller="Application" asp-action="Index">
                        @CommonResources.btnCancel
                    </a>
                    <button class="btn btn-primary btn-lg" type="submit">Заяви свидетелство за съдимост</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    'use strict';
    $(document).ready(function() {
        var purposes = @Html.Raw(Json.Serialize(Model.PurposeInfo));
        $('#paymentInfo').hide();
        $('#paymentFreeInfo').hide();
        $('#bankPaymentInfo').hide();
        $('#paymentInfoEPayEasyPay').hide();

        const initPurposeValue = $('#PurposeId')[0].value;
        if (initPurposeValue in purposes) {
            $('#purposeDiv').show();
            $('#purposeInfo')[0].innerHTML = purposes[initPurposeValue];
        } else {
            $('#purposeDiv').hide();
        }

        $('input[type=radio]').change(function() {
            const valueSelected = this.value;
            $('#paymentInfo').hide();
            $('#paymentFreeInfo').hide();
            $('#bankPaymentInfo').hide();
            $('#paymentInfoEPayEasyPay').hide();

            if (valueSelected == 'PayEgovBg') {
                $('#paymentInfo').show();
            } else if (valueSelected == 'PayEgovBgEPay') {
                $('#paymentInfoEPayEasyPay').show();
            } else if (valueSelected == 'FreeFromTax') {
                $('#paymentFreeInfo').show();
            } else if (valueSelected == 'Bank') {
                $('#bankPaymentInfo').show();
            }
        });

        $('#PurposeId').on('change', function(e) {
            const valueSelected = this.value
            if (valueSelected in purposes) {
                $('#purposeDiv').show();
                $('#purposeInfo')[0].innerHTML = purposes[valueSelected];
            } else {
                $('#purposeDiv').hide();
                $('#Purpose')[0].value = '';
            }
        });
    });
</script>