@model ApplicationPreviewModel
@using Infragistics.Web.Mvc
@using MJ_CAIS.WebPortal.Public.Controllers
@using MJ_CAIS.WebPortal.Public.Models.Application
@using MJ_CAIS.WebSetup.Utils.CustomHtmlHelpers
@using MJ_CAIS.Common.Resources
@using MJ_CAIS.Common

@{
    var title = ApplicationResources.titleAppPreview;
    ViewData["Title"] = title;

    var createdOn = Model.CreatedOn.HasValue ? Model.CreatedOn.Value.ToString("dd.MM.yyyy HH:mm") : "";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card h-100">
                <div class="card-header h5 bg-primary text-white">@title</div>
                <div class="card-body">
                    <div class="row g-3">
                        <div class="form-group col-md-6">
                            <label asp-for="RegistrationNumber" class="control-label fw-bold"></label>
                            <input asp-for="RegistrationNumber" class="form-control" disabled="disabled" />
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="CreatedOn" class="control-label fw-bold"></label>
                            <input asp-for="CreatedOn" class="form-control" disabled="disabled" />
                        </div>
                        <h5 class="mt-2">@ApplicationResources.lblAppInfo</h5>
                        <div class="form-group col-md-4">
                            <label asp-for="Egn" class="control-label fw-bold"></label>
                            <input asp-for="Egn" class="form-control" disabled="disabled" />
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="Email" class="control-label fw-bold"></label>
                            <input asp-for="Email" class="form-control" disabled="disabled" />
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="PurposeName" class="control-label fw-bold"></label>
                            <input asp-for="PurposeName" class="form-control" disabled="disabled" />
                        </div>
                        <div class="form-group col-md-12">
                            <label asp-for="Purpose" class="control-label fw-bold"></label>
                            <textarea asp-for="Purpose" type="text" class="form-control" rows="3" disabled="disabled"></textarea>
                        </div>
                        <div class="form-group col-md-8">
                            <label asp-for="PaymentMethodName" class="control-label fw-bold"></label>
                            <input asp-for="PaymentMethodName" class="form-control" disabled="disabled" />
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="IsPaid" class="control-label fw-bold"></label>
                            @if (Model.IsPaid.HasValue && Model.IsPaid.Value)
                            {
                                <div class="alert alert-success p-2">
                                    Платено
                                </div>
                            }
                            else
                            {
                                <div class="alert alert-danger p-2">
                                    Неплатено
                                </div>
                            }
                        </div>
                        <div class="form-group mt-2">
                            <label asp-for="Status" class="control-label fw-bold"></label>
                            <input asp-for="Status" class="form-control" disabled="disabled" />
                            <div class="row col-md-6">
                                @if (Model.HasGeneratedCertificate)
                                {
                                    var downloadFileUrl = Url.Action(nameof(ApplicationController.DownloadCertificate)) + $"/{Model.Id}";

                                    <a href="@downloadFileUrl" title="@ApplicationResources.titleDownloadCertificate" class="btn btn-primary ms-3 mt-3">
                                        <i class="fa fa-download"></i>@ApplicationResources.titleDownloadCertificate
                                    </a>
                                }
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
@* <a class="btn btn-secondary" asp-controller="Application" asp-action="Index">
                        @CommonResources.btnBack
                    </a>*@
