@model ApplicationPreviewModel
@using Infragistics.Web.Mvc
@using MJ_CAIS.Common.Constants
@using MJ_CAIS.WebPortal.Public.Controllers
@using MJ_CAIS.WebPortal.Public.Models.Application
@using MJ_CAIS.WebSetup.Utils.CustomHtmlHelpers
@using MJ_CAIS.Common.Resources
@using MJ_CAIS.Common

@{
    var title = ApplicationResources.titleAppPreview;
    ViewData["Title"] = title;
}
<div class="card">
    <div class="h5 card-header bg-primary text-white d-flex justify-content-between align-items-center">
        @title
        <div>
            <a class="btn btn-sm btn-light" asp-controller="Application" asp-action="Preview" asp-route-id="@Model.Id">
                Обновяване
            </a>
            <a class="btn btn-sm btn-light" asp-controller="Application" asp-action="Index">
                Заявления
            </a>
        </div>
    </div>
    <div class="card-body">
        <div class="row g-3">
            @if (Model.ReturnFromPaymentResult != null)
            {
                <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                    <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                    </symbol>
                    <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
                    </symbol>
                    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                    </symbol>
                </svg>
                switch (Model.ReturnFromPaymentResult)
                {
                    case "PayEgovBgCode":
                    case "TaxFreeOrBank":
                        {
                            <div class="col-12">
                                <div class="alert alert-success d-flex align-items-center my-0" role="alert">
                                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill" /></svg>
                                    <div>
                                        Успешно подаване на заявка за електронно свидетелство за съдимост
                                    </div>
                                </div>
                            </div>
                            break;
                        }
                    case "OK":
                        {
                            <div class="col-12">
                                <div class="alert alert-success d-flex align-items-center my-0" role="alert">
                                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#check-circle-fill" /></svg>
                                    <div>
                                        Плащането е успешно!
                                    </div>
                                </div>
                            </div>
                            @if (!string.IsNullOrEmpty(Model.PaymentStatus) && Model.PaymentStatus == PaymentConstants.PaymentStatuses.Pending)
                            {
                                <div class="col-12">
                                    <div class="alert alert-primary d-flex align-items-center my-0" role="alert">
                                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill" /></svg>
                                        <div>
                                            Очаква се потвърждение от системата за плащания.
                                        </div>
                                    </div>
                                </div>
                            }
                            break;
                        }
                    case "Cancel":
                        {
                            <div class="col-12">
                                <div class="alert alert-danger d-flex align-items-center my-0" role="alert">
                                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill" /></svg>
                                    <div>
                                        Плащането е отказано!
                                    </div>
                                </div>
                            </div>
                            break;
                        }
                }
                @if ((string.IsNullOrEmpty(Model.PaymentStatus) || Model.PaymentStatus == PaymentConstants.PaymentStatuses.Pending) 
                     && Model.PaymentMethodCode == "Bank")
                {
                    <div class="col-12">
                        <div class="alert alert-primary d-flex align-items-center my-0" role="alert">
                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill" /></svg>
                            <div>
                                Ако попълвате ръчно бюджетното платежно нареждане през Вашето електронно банкиране или на гише в някоя банка, моля, задължително в полетата „Основание за плащане“ и „Номер на документа, по който се плаща“ да посочите регистрационния номер на Вашето заявление: <b>@Model.RegistrationNumber</b>. След изтичане на 14-дневния срок за плащане, заявката става невалидна.
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="card text-dark bg-light">
                            <h6 class="card-header bg-secondary text-white">Данни за плащане</h6>
                            <div class="card-body">
                                <div>
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td align="right" class="fw-bold">Име на получател:</td>
                                                <td class="ps-2">@Model.ServiceProviderName</td>
                                            </tr>
                                            <tr>
                                                <td align="right" class="fw-bold">Основание за плащане:</td>
                                                <td class="ps-2">@Model.RegistrationNumber</td>
                                            </tr>
                                            <tr>
                                                <td align="right" class="fw-bold">Банка:</td>
                                                <td class="ps-2">@Model.ServiceProviderBank</td>
                                            </tr>
                                            <tr>
                                                <td align="right" class="fw-bold">IBAN:</td>
                                                <td class="ps-2">@Model.ServiceProviderIBAN</td>
                                            </tr>
                                            <tr>
                                                <td align="right" class="fw-bold">BIC:</td>
                                                <td class="ps-2">@Model.ServiceProviderBIC</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                @if ((!string.IsNullOrEmpty(Model.PaymentStatus) && Model.PaymentStatus == PaymentConstants.PaymentStatuses.Pending) && Model.PaymentMethodCode == "PayEgovBgCode")
                {
                    <div class="col-12">
                        <div class="card text-dark bg-light">
                            <h6 class="card-header bg-secondary text-white">Плащане с pay.egov.bg</h6>
                            <div class="card-body">
                                Плащането може да бъде извършено в страницата на pay.egov.bg с натискане на бутона "Плащане". <br/>
                                В случай, че вече сте извършили плащането - очаква се да постъпи неговото потвърждение.
                                <div class="pt-2">
                                    <a href="@Model.PayEgovBGCodeLink" title=""
                               class="btn btn-primary btn-lg w-100" target="_blank">
                                        Плащане
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            <div class="form-group col-md-4">
                <label asp-for="RegistrationNumber" class="control-label fw-bold"></label>
                <input asp-for="RegistrationNumber" class="form-control" disabled="disabled" />
            </div>
            <div class="form-group col-md-4">
                <label asp-for="CreatedOn" class="control-label fw-bold"></label>
                <input asp-for="CreatedOn" class="form-control" disabled="disabled" />
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Status" class="control-label fw-bold"></label>
                <input asp-for="Status" class="form-control" disabled="disabled" />
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Egn" class="control-label fw-bold"></label>
                <input asp-for="Egn" class="form-control" disabled="disabled" />
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Email" class="control-label fw-bold"></label>
                <input asp-for="Email" class="form-control" disabled="disabled" />
            </div>
            <div class="form-group col-md-4">
                <label asp-for="PurposeName" class="control-label fw-bold"></label>
                <input asp-for="PurposeName" class="form-control" disabled="disabled" />
            </div>
            <div class="form-group col-md-12">
                <label asp-for="Purpose" class="control-label fw-bold"></label>
                <textarea asp-for="Purpose" type="text" class="form-control" rows="3" disabled="disabled"></textarea>
            </div>
            <div class="form-group col-md-8">
                <label asp-for="PaymentMethodName" class="control-label fw-bold"></label>
                <input asp-for="PaymentMethodName" class="form-control" disabled="disabled" />
            </div>
            <div class="form-group col-md-4">
                <label asp-for="PaymentStatus" class="control-label fw-bold"></label>
                @{
                    string paidText = "";
                    string paidClass = "";
                    switch (Model.PaymentStatus)
                    {
                        case PaymentConstants.PaymentStatuses.Payed:
                        {
                            paidText = "Платено";
                            paidClass = "bg-success";
                            break;
                        }
                        case PaymentConstants.PaymentStatuses.Canceled:
                        {
                            paidText = "Отказано";
                            paidClass = "bg-warning";
                            break;
                        }
                        case PaymentConstants.PaymentStatuses.Pending:
                        default:
                        {
                            paidText = "Неплатено";
                            paidClass = "bg-danger";
                            break;
                        }
                        //{
                        //    paidText = "Неизвестно";
                        //    paidClass = "bg-warning";
                        //    break;
                        //}
                    }
                }
                <input asp-for="PaymentStatus" class="form-control @paidClass text-white" value="@paidText" disabled="disabled" />
            </div>
            @if (Model.HasGeneratedCertificate)
            {
                var downloadFileUrl = Url.Action(nameof(ApplicationController.DownloadCertificate)) + $"/{Model.Id}";
                <div class="col-12">
                    <a href="@downloadFileUrl" title="@ApplicationResources.titleDownloadCertificate"
                   class="btn btn-primary btn-lg w-100">
                        <i class="fa fa-download me-2"></i>@ApplicationResources.titleDownloadCertificate
                    </a>
                </div>
            }
        </div>
    </div>
</div>
